{% extends 'website/layout.html' %}

{% block main %}
    <form action="{% url 'website:TestarMaquinaTuring' maquinaturing_id %}" method="post">
    {% csrf_token %}
    <label for="Sequencia">Insira a sequência que deseja testar </label>
    <input id="Sequencia" type="text" name="Sequencia" value="{{ sequencia_atual }}">
    <input type="submit" value="Testar" class="btn btn-success">
    <a href="{% url 'website:MostraMaquinasTuring' %}" role="button" class="btn btn-warning">Cancelar</a>
    <p>{{ MaquinaTuring.Estados }}</p>
    {{ Resultado }}
    </form>
{% endblock %}